body {
  text-align: center;
  background-color: #011F3F;
}

#game-name {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin-top: 4%;
  margin-bottom: 2%;
  color: hsl(103, 97%, 87%);
} 

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin-top:  4%;
  margin-bottom: 2%;
  color: #FEF2BF;
}

#instructions{
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin:  4%;
  color: #FEF2BF;
}


.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  color: #FEF2BF;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


footer{
  color: antiquewhite;
  font-family: sans-serif;
}